<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>三层B楞</string>
		<key>PB_I_Way</key>
		<string>MIAN</string>
		<key>PB_I_PeNm</key>
		<string></string>
		<key>PB_I_PeId</key>
		<string></string>
	</dict>
</array>
</plist>
